<h1>New Flash Card</h1>
<form action="/flash_cards" method="post">
  <label for="english">English Word: </label>
  <input required class="<%='error' if flash[:error]%>" type="text" name="english" id="english" placeholder="<%=flash[:error] || "cat"%>">
  <label for="translation">Translation: </label>
  <input class="<%='error' if flash[:error]%>" type="text" name="translation" id="translation" placeholder="<%=flash[:error] || "gato"%>">
  <select name="part_of_speech" id="part_of_speech">
    <option value="noun">noun</option>
    <option value="verb">verb</option>
    <option value="adjective">adjective</option>
  </select>
  <input type="submit" value="Create Flash Card">
</form>
<a href="/users/<%=session[:user_id]%>">Home</a>
